@tailwind base;
@tailwind components;

* {
  font-family: "Satoshi";
}

@tailwind utilities;

body {
  background-color: #0f172a;
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    src: url(/static/fonts/Satoshi-Regular.ttf);
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    src: url(/static/fonts/Satoshi-Medium.ttf);
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    src: url(/static/fonts/Satoshi-Bold.ttf);
  }
}
